*{
	background: black;
}
.box{
	width: 100px;
	height: 100px;
	position:absolute;
	left: 100px;
	top: 100px;
	background: linear-gradient(red,blue,yellow,green,pink,purple);
	border-radius: 10px 10px 80px 0px;
	box-shadow:	0px 10px 10px red,
				0px 12px 12px white,
				0px 20px 20px orange,
				0px 21px 21px white,
				0px 30px 30px yellow,
				0px 31px 31px white,
				0px 40px 40px green,
				0px 41px 41px white,
				0px 50px 50px blue,
				0px 51px 51px white,
				0px 60px 60px purple,
				0px 61px 61px white,
				0px 70px 70px maroon,
				0px 71px 71px white,
				0px 80px 80px gray,
				0px 81px 81px white,
				0px 90px 90px pink,
				0px 91px 91px white,
				0px 100px 100px brown;
	/*note : untuk mengarahkan arah warna kasih code arah sebelum code warna :::__
	example : top atau top left*/
	
/*	background: #444;
	border-radius: 100px;
	box-shadow: inset -10px -10px 10px #222, 
				10px 10px 10px #888, 
				10px 10px 10px #888;
*/
}

/*kalo pengen buat teks dengan efek 3D mendalam 
maka searching di google dengan kata kunci (letterpress) */